<p id="notice"><%= notice %></p>
<h1>Info Url</h1>
<p><strong>Full: </strong><%= link_to @url.full, @url.full, :target => "_blank" %></p>
<p><strong>Short: </strong><%= link_to @url.shorted(request.base_url), @url.shorted(request.base_url), :target => "_blank" %></p>
<p><strong>Visits: </strong><%= @url.visits.count %></p>
